:root {
  --primary-font: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  padding: 6px 0;
  border: none;
  background-color: #777;
  color: #fff;
}

button:disabled {
  background: #ccc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 3%;
}

header .logo {
  text-decoration: none;
  color: #000;
}

header nav *:not(:last-child) {
  margin-right: 8px;
}

header nav a {
  color: #000;
  text-decoration: none;
}

header nav a.active {
  text-decoration: underline;
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 15px auto 0;
}

form h1, form h2 {
  text-align: center;
}

form p.error {
  color: red;
  text-align: center;
}

form input, form button, form textarea {
  padding: 6px 10px;
  margin-bottom: 7px;
  font-family: var(--primary-font);
}

form button {
  background-color: #00cb98;
  color: #fff;
  border: none;
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

/* Custom Styles */
.hero {
  background-color: #999;
  padding: 20px 0;
  color: #fff;
}

.hero p {
  font-size: 1.1rem;

}

.drinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 25px 3%;
}

.drink {
  padding: 8px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}



.favorites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 0 3%;
}

.fav {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  padding: 8px;
}